<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>系统管理</title>
	<script src="/js/common.map.js"></script>
</head>
<body>
	<div id="systemIndex">
		<!-- <mynav :curmenus="'system'"></mynav> -->
		<div class="main">
			<!-- <div class="left">
				<ul class="leftmunes">
					<li class="active">用户管理</li>
					<li>角色管理</li>
				</ul>
			</div> -->
			<div class="content">
				<!-- <div class="path">
					<span>系统管理 > </span>
					<span class="cur">用户管理</span>
				</div> -->
				<div>
					<table>
						<thead>
							<tr>
								<td>序号</td>
								<td>名称</td>
								<td>创建时间</td>
								<td>修改时间</td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in datalist">
								<td>{{item.id}}</td>
								<td>{{item.name}}</td>
								<td>{{item.create_time}}</td>
								<td>{{item.update_time}}</td>
							</tr>
						</tbody>
					</table>
					<page :pagedata="pageData" v-on:increment="queryByPage"></page>
				</div>
			</div>
		</div>
	</div>	
</body>
<script src="/js/apps/comp/system/systemIndex.js"></script>

</html>