<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>物料管理</title>
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../js/vue/vue.js"></script>
	<script src="../../js/apps/components/nav.js"></script>

</head>
<body>
	<div id="material">
		<nav id="nav">
			<div class="logo"></div>
			<mynav :menus="nav_menus"></mynav>
		</nav>
		<div class="main">
			<div class="left">
				<ul class="leftmunes">
					<li class="active">物料管理</li>
					<li>出入库管理</li>
				</ul>
			</div>
			<div class="content">
				<div class="path">
					<span>仓库管理 > </span>
					<span class="cur">物料管理</span>
				</div>
				{{message}}
				<button v-on:click="changeIt">change it</button>
				<div>
					<table>
						<thead>
							<tr>
								<td>序号</td>
								<td>名称</td>
								<td>类别</td>
								<td>数量</td>
							</tr><td>{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>{{item.type}}</td>
									<td>{{item.num}}</td>

						</thead>
							<tbody>
								<tr v:for='item in datalist'>
																	</tr>
							</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>	
</body>
<script src="../../js/apps/comp/material.js"></script>

</html>