<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<script src="/js/common.map.js"></script>
</head>
<body class="bg1" >
	<div id="register" class="register" >
		<div class="tt">登录</div>
		<form id="form">
			<div class="in">
				<label for="uname">用户名</label>
				<input type="text" v-model="loginInfo.uname"/>
			</div>
			<div class="in">
				<label for="uname">密码</label>
				<input type="password" v-model="loginInfo.password"/>
			</div>
		</form>
		<div class="oper">
			<div class="btn" v-on:click="login">登录</div>
			<a href="/views/admin/login.html">没有账号，前去注册</a>
		</div>
	</div>
</body>
<script src="/js/apps/comp/admin/register.js"></script>
</html>